.logo {
  @extend %link;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: $header-logo-text;

  &--white {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-bottom: 20px;
    color: $hero-color-text;
  }
}

.logo__text {
  color: $accent-color;
}
