.soc-box {
  margin-right: 93px;
}

.soc-box__text {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $hero-color-text;
}

.soc-list {
  @extend %list;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-list__item {
  width: 44px;
  height: 44px;
}

.soc-list__link {
  @extend %link;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  color: $color-soc;

  transition: background-color 250ms $timing-function, color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $hero-color-text;
  }
}

.soc-list__icon {
  fill: currentColor;
}

.soc-list__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: $hero-color-text;

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
